#bidConsoleForm {
    position: fixed;
    background-color: white;
    top : 10%;
    left: 35%;
}

.bidConsoleRootDiv{
    width: max-content;
}

.blurBackground {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.closeForm{
    transition: opacity 0.1s linear;
    transform: translate(0);
    opacity: 0;
}

.openFormDisplay {
    display: block;
    opacity: 0;
}

.closeFormDisplay {
    display: none;
}

.openForm {
    transition: opacity 0.1s linear;
    transform:translate(0);
    opacity: 1;
}

.scrollable {
    height: 30vh;
    overflow: scroll;
    max-width: fit-content;
}

.scrollable thead th {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
    border-bottom: solid grey;
    /* padding: 1rem; */
    font-weight: 600;
    font-size: 1rem;
}

table {
    width: 100%;
}

.playerImage {
    height: 60vh;
}

.info-label,.info-label-imp {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.info-label{
    background: linear-gradient(to right,#ffe566,#fffae5);
}

.info-label-price{
    background: linear-gradient(to right,#0af543,#ddfee5);
    border-radius: 0.5rem;
}

.info-label-imp {
    background: linear-gradient(to right,#c230ff,#f8e7ff);
}

.flag-image {
    height: 10vh;
}