.blurBackground {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#hometop {
    background-image: url('../../resources/back1.jpg');
    height: 100vh;
}

.offset {
    margin-top: 76px;
}

.heading-first {
    margin-top: 15vh;
    letter-spacing: 0.1rem;
}

.top-sentence {
    /* color: white; */
    letter-spacing: 0.2rem;
}

.home-mid {
    height: 100vh;
}

@media screen and (max-width: 1000px){
    .min-h1 {
        font-size: smaller;
    }
}

/* @media screen and (min-width: 1000px){
    .min-h1 {
        font-size: large;
    }
} */

.custom-shape-divider-bottom-1707151196 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707151196 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.custom-shape-divider-bottom-1707151196 .shape-fill {
    fill: #FFFFFF;
}