.home-col{
    height: 500px;
}

li{
    font-size: 1.5rem;
    margin: 2% 0 2% 0;
}

.home-head-div{
    background-color: #FEFCF3;
    font-family: 'Exo 2' , sans-serif;
    font-weight: lighter;
}

.home-top-div,.home-bottom-div{
    /* background-color: #F5EBE0; */
    font-family: 'Kanit' , sans-serif;
}

.home-btn{
    font-size: 1.2rem;
}

.home-row{
    margin: 7% 0 5% 0;
}

.home-col-1-content{
    background: #A555EC;
    padding: 5%;
    border-radius: 10px;
    color: white;
    box-shadow: 9px 9px 8px #F3CCFF;
}

.side-svg {
    padding-right: 3%;
}

.stat-head-1{
    background-color: #6ede8a;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 4px #b7efc5;
}