body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

@media (width > 1000px) {
    .navbar-brand-margin {
        margin-left: 10rem;
    }

    .navbar-items-margin {
        margin-right: 5rem;
    }
}
